.history-page-layout {
    .list-uploaded {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 70px;
        row-gap: 30px;
        column-gap: 30px;

        .image-item {
            color: hsla(0, 0%, 100%, .8);
            text-align: center;
            width: 300px;

            .name {
                margin-top: 10px;
                font-weight: bold;
                word-break: break-all;
            }

            .image-wrapper {
                width: 300px;
                height: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: white;
                z-index: 1;
                box-shadow: 5px 2px 8px 2px #888888;
                cursor: pointer;
                position: relative;

                img {
                    height: 100%;
                    width: auto;
                }

                .hover-text {
                    position: absolute;
                    background: #111;
                    color: white;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    text-align: center;
                    bottom: 0;
                    opacity: .7;
                    display: none;
                    font-size: 32px;
                    font-family: 'Comic-2';
                }

                &:hover {
                    .hover-text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .main-content .title {
        color: hsla(0, 0%, 100%, .8);
        font-family: 'Astro-City';
        font-size: 42px;
        text-align: center;

        &::after {
            background-color: #00a3da;
            content: " ";
            display: block;
            height: 4px;
            margin-top: 8px;
            width: 70px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .no-data-panel {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}