.pdf-viewer {
    // position: relative;
    min-height: calc(100vh -100px);

    .spin-loading {
        margin-top: 50px;
        height: 800px;
    }

    &:hover {
        .header-tool {
            display: flex;
        }
    }

    .header-tool {
        display: none;
        width: 100%;
        justify-content: center;
        color: #fff;
        margin-bottom: 5px;
        position: absolute;
        top: 10px;
        z-index: 1000;

        .buttonc {
            display: flex;
            align-items: center;
            column-gap: 5px;
            background-color: rgba(0, 0, 0, .5);

            button {
                background-color: transparent;
                border-width: 0;
                color: #fff;
                cursor: pointer;
                display: block;
                float: left;
                font-size: 1rem;
                font-weight: 500;
                text-align: center;
                height: 30px;
                width: 30px;

                &.active {
                    background: linear-gradient(180deg, #00a3da, #09c);
                }

                &:hover {
                    background: linear-gradient(180deg, #00a3da, #09c);
                    opacity: 0.7;
                }
            }
        }
    }

    .pdf-viewer-wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
        position: relative;
        min-height: calc(100vh - 100px);

        .document-pdf-viewer {
            display: none;
        }

        .react-pdf__message--no-data {
            display: none;
        }

        .ant-spin-spinning.loading-fullview {
            background: #333;
        }
    }
}