.text-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dashed transparent;
    position: relative;

    .text-editable {
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
    }
    &:hover{
        border-color: black;
        .btn-delete {
            display: block;
        }
    }
    .btn-delete {
        position: absolute;
        font-size: 20px;
        right: 5px;
        top: 5px;
        cursor: pointer;
        color: red;
        display: none;
    }
}