.export-image-modal {
    .ant-modal-title {
        font-size: 18px;
        font-weight: bold;
    }
    .ant-modal-header {
        background-color: #ddd;
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
}