@import '~antd/dist/antd.css';

@font-face {
  font-family: "Jolly Lodger";
  src: url("./assets/fonts/JollyLodger-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #111; 
}
